.users-container{
    display: flex;
    width: 100%;
}

.user-wrapper{
    width: 50%;
    border: 1px solid black;
    margin: 10px;
}

.oponent-wrapper{
    width: 50%;
    border: 1px solid black;
    margin: 10px;
}

.exp-wrapper{
    width: 50%;
}

.show_exp-wrapper{
    background-color: gainsboro;
    height: 40px;
}

.get_exp-wrapper{
    background-color: green;
    height: 100%;
}

.show_exp-wrapper p{
    position: absolute;
    margin-left: 230px;
    margin-top: 10px;
}

.exp-btn{
    cursor: pointer;
    width: 10%;
    margin: 10px;
    border: 1px solid black;
    background-color: gainsboro;
}