.circle_container{
    margin: 0 auto;
    width: 500px;
    height: 150px;
    border: 1px solid black
}

#container {
    position: absolute;
    height: 300px;
    width: 400px;
    left: 20px;
    top: 20px;
    background: #FF8;
  }

  #greenball {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: radial-gradient(50% 50%,
    rgba(128,255,128,1), rgba(64,255,64,1) 60%, rgba(0,255,0,1) 95%, rgba(255,255,255,0));
  }
 